.nav-buttons__img_md {
    display: none;
}

.nav-buttons__button_md {
    display: none;
}

.nav-buttons__link_main {
    display: none;
}

.nav-buttons__header {
    display: none;
}

.nav-buttons {
    display: flex;
    background-color: #FFFFFF;
    padding: 20px;
    justify-content: space-around;
}

.nav-buttons__button_white {
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.head-md {
font-size: 28px;
margin-top: 24px;
margin-left: 20px;
position: relative;
}

.head-md::before {
    content: '';
    width: 4px;
    height: 40px;
    background-image: url(../img/highlight.svg);
    position: absolute;
    left: -15px;
    top:
}
/* sm (>=576 и <=767) */

@media (min-width: 576px) and (max-width: 767px) {
    .nav-buttons__img_md {
        display: block;
    }
    .nav-buttons__button_md {
        display: block;
    }
    .nav-buttons__img_divider-sm {
        display: none;
    }
    .nav-buttons__header {
        display: none;
    }
}

/* md (>=768 и <=991) */

@media (min-width: 768px) and (max-width: 991px) {
    .nav-buttons__img_md {
        display: block;
    }
    .nav-buttons__button_md {
        display: block;
    }
    .nav-buttons__img_divider-sm {
        display: none;
    }
    .nav-buttons__header {
        display: none;
    }
    .nav-buttons {
        justify-content: space-between;
    }
    .nav-buttons__img_logo {
        flex-basis: 60%;
        margin-left: -25%;
    }
}

/* lg (>=992 и <=1199) */

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-buttons {
        background-color: #f8f8f8;
        padding: 0;
        max-width: 95%;
        display: flex;
    }
    .nav-buttons__button_gray {
        background-color: #f8f8f8;
    }
    .nav-buttons__header {
        display: block;
        font-size: 28px;
        flex-basis: 59%;
    }
    .nav-buttons__head {
        margin: 0;
        font-size: 28px;
        position: relative;
    }
    .nav-buttons__head::before {
        content: '';
        width: 6px;
        height: 60px;
        background-image: url(../img/highlight.svg);
        position: absolute;
        left: -35px;
        top: -5px;
    }
    .nav-buttons__button_burger {
        display: none;
    }
    .nav-buttons__img_logo {
        display: none;
    }
    .nav-buttons__img_divider-sm {
        display: none;
    }
    .nav-buttons__link_main {
        display: block;
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
        align-self: center;
    }
    .nav-buttons__button {
        align-self: flex-start;
    }
    .nav-buttons__link_right {
        margin-left: 30px;
    }
    .head-md {
        display: none;
    }
}

/* xl (>=1200) */

@media (min-width: 1200px) {
    .nav-buttons {
        background-color: #f8f8f8;
        max-width: 95%;
        padding: 0;
    }
    .nav-buttons__button_gray {
        background-color: #f8f8f8;
    }
    .nav-buttons__header {
        display: block;
        font-size: 28px;
        flex-basis: 60%;
    }
    .nav-buttons__head {
        margin: 0;
        font-size: 28px;
        position: relative;
    }
    .nav-buttons::before {
        content: '';
        width: 6px;
        height: 70px;
        background-image: url(../img/highlight.svg);
        position: absolute;
        left: -2px;
        top: 30px;
    }
    .nav-buttons__button_burger {
        display: none;
    }
    .nav-buttons__img_logo {
        display: none;
    }
    .nav-buttons__img_divider-sm {
        display: none;
    }
    .nav-buttons__link_main {
        display: block;
        text-decoration: none;
        color: #1B1C21;
        font-size: 16px;
    }
    .nav-buttons__link_main {
        align-self: center;
        position: relative;
        left: 10px;
    }
    .nav-buttons__link_right {
        margin-left: 28px;
    }
    .nav-buttons__img_right {
        margin-right: -30px;
        
    }
    .head-md {
        display: none;
       }
}