.menu {
    /* overflow-x: auto; */
    margin-top: 20px;
}

.menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    /* min-width: 1120px; */
    /* overflow-x: auto; */
    /* justify-content: space-between; */
}

.menu__item {
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
}

.menu__item_blue {
    border: 2px solid #B8FFEC;
    background-color: #ffffff;
}

.menu__link {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
}


@media (max-width: 768px) {
    .menu {
        overflow-y: auto;
        margin-left: 20px;
    }
    .menu__list {
    min-width: 1120px; 
     overflow-x: auto; 
    }
}


@media (min-width: 769px) and (max-width: 991px) {
    .menu {
        margin-right: 28px;
        margin-left: 32px;
    }
}

@media (min-width: 992px) and (max-width: 1199x) {
    .menu {
        overflow-x: visible;
    }
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .menu {
        margin-top: 17px;
        flex-wrap: wrap;
    }
    .menu__list {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    .menu__item {
        box-sizing: border-box;
    }
}