.pseudo-el-down::before {
    content: "";
    background-image: url(../img__slider/down.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: -20px;
}

.pseudo-el-up::before {
    content: "";
    background-image: url(../img__slider/up.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    top: 5px;
    left: -20px;
    color: #1b1c21;
    font-weight: 500;
    font-size: 16px;
}
.go {
    background-image: url(../img__slider/go.svg);
    background-repeat: no-repeat;
    position: relative;
    /* align-self: center; */
    top: 5px;
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) {
    .logo-of-companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 24px;
        align-content: flex-start;
    }
    .logo-of-companies__el_lg {
        display: none;
    }
    .logo-of-companies__el_click {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px;
        flex-basis: 27%;
        border-radius: 6px;
        margin-top: -10px;
    }

    .logo-of-companies__sm {
        display: block;
        border-radius: 6px;
        box-sizing: border-box;
        margin-bottom:20px;
        flex-basis: 30%;
        height: 72px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px;
    }
    .logo-of-companies__link-block_down {
        flex-basis: 90%;
        margin-top: 90px;
       

    }
    .logo-of-companies__link {
        text-decoration: none;
        color: #1b1c21;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        position: relative;
    }

    .logo-of-companies__link-block_up {
        flex-basis: 85%;

    }

    .logo-of-companies__el_click-last {
        flex-basis: 27%;
        position: relative;
        left: -33%;
        margin-top: -5px !important;
    }
    .logo-of-companies__el_sony {
        position: relative;
        left: -5px;
    }
}
@media (min-width: 805px) {
    .logo-of-companies__el_click-last {
        flex-basis: 27%;
        position: relative;
        left: -33%;
    }
    .logo-of-companies__link-block_up {
        flex-basis: 83%;
    }
}
@media (min-width: 900px) {
    .logo-of-companies__sm {
        flex-basis: 27%;
    }
    .logo-of-companies__el_click {
        flex-basis: 25%;
    }
    .logo-of-companies__el_click-last {
        left: -31%;
    }
    .logo-of-companies__el_sony {
        left: 3px;
    }
}
@media (min-width: 1120px) {
    
    .logo-of-companies__link-block_up {
        flex-basis: 90%;
    }
    .logo-of-companies__link-block_down {
        flex-basis: 90%;
    }
}
