
@media (min-width: 768px) {



    .logo-of-companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 24px;
    }
    .logo-of-companies__el_lg {
        display: none;
    }
    .logo-of-companies__el_click {
        margin-bottom: 15px;
        flex-basis: 200px;
    }
    .logo-of-companies__el_click-last {
        flex-basis: 93%;
    }

    .logo-of-companies__sm {
        display: block;
        border-radius: 6px;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
    .logo-of-companies__link-block_down {
        flex-basis: 85%;
        margin-top: 10px;
    }
    .logo-of-companies__link {
        text-decoration: none;
        color: #1b1c21;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        position: relative;
    }

    .logo-of-companies__link_down::before {
        content: "";
        background-image: url(/img__slider/down.svg);
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        position: absolute;
        top: 5px;
        left: -20px;
    }

    .logo-of-companies__link_up::before {
        content: "";
        background-image: url(/img__slider/up.svg);
        position: absolute;
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        top: 5px;
        left: -20px;
    }
    .logo-of-companies__link-block_up {
        flex-basis: 85%;
    }
}
@media (min-width: 805px) {
    .logo-of-companies__el_click-last {
        flex-basis: 89%;
    }
    .logo-of-companies__link-block_up {
        flex-basis: 83%;
    }
}
@media (min-width: 900px) {
    .logo-of-companies__sm {
        flex-basis: 26%;
    }
    .logo-of-companies__el_click {
        flex-basis: 26%;
    }
    .logo-of-companies__el_click-last {
        flex-basis: 89%;
    }
    .width-img {
        width: 224px
    }
}
@media (min-width: 1120px) {
   
    .logo-of-companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 24px;
    }

    .logo-of-companies__sm {
        display: none;
    }
    .logo-of-companies__el_lg {
        display: block;
        flex-basis: 21%;
        
        display: flex;
        justify-content: space-evenly;
       
    }
    .logo-of-companies__el_click-disabled {
        display: none !important;
    }
    .logo-of-companies__el_click {
        flex-basis: 22%;
    }
    .logo-of-companies__el_click-last {
        flex-basis: 47% ;
    }
    .width-img {
        width: 240px;
        display: block;
        }
    .logo-of-companies__el_lg {
        margin-bottom: 10px;
    }
    .logo-of-companies__el_click {
        margin-top: -10px;
    }

    .logo-of-companies__link-block_up {
        flex-basis: 90%;
    }
    .logo-of-companies__link-block_down {
        flex-basis: 90%;
    }
    
}
/* Остались 2 проблемки: правильно расположить хедер на всех разрешениях и убрать оверфлоу у страницы */