@media (min-width: 768px) {
    .logo-of-companies {
        display: flex;
        flex-wrap: wrap;
        /* align-content: space-around; */
        justify-content: space-evenly;
    }
    .logo-of-companies__el_lg {
        display: none;
      
    }
    .logo-of-companies__sm {
        display: block;
        border-radius: 6px;
    
    }
    .logo-of-companies__link-block_down {
        flex-basis: 30%;
    }
    .logo-of-companies__link {
        text-decoration: none;
        color: #1b1c21;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        position: relative;
    }

    .logo-of-companies__link::before {
        content: "";
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        position: absolute;
    }

    .logo-of-companies__link_down {
        background-image: url(/img__slider/down.svg);
    }
    .logo-of-companies__link_up {
        background-image: url(/img__slider/up.svg);
    }
}
