.main-icons__burger {
    width: 40px;
    height: 40px;
    background-image: url(../img__320px/burger.svg);
    background-repeat: no-repeat;
    align-self: center;
}

.main-icons__logo {
    width: 100px;
    height: 60px;
    background-image: url(../img__320px/Group.svg);
    background-repeat: no-repeat;
}

.main-icons__search {
    width: 40px;
    height: 40px;
    background-image: url(../img__320px/search.svg);
    background-repeat: no-repeat;
    align-self: center;
}

.minor-icons__call {
    width: 40px;
    height: 40px;
    background-image: url(../img__320px/call.svg);
    background-repeat: no-repeat;
}

.minor-icons__chat {
    width: 40px;
    height: 40px;
    background-image: url(../img__320px/chat.svg);
    background-repeat: no-repeat;
}

.minor-icons__profile {
    width: 40px;
    height: 40px;
    background-image: url(../img__320px/profile.svg);
    background-repeat: no-repeat;
}

.main-icons {
    display: flex;
    justify-content: space-between;
}

.main-icons__logo {
    flex-basis: 55%;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header__head {
    font-size: 16px;
    color: #7E7E82;
    position: relative;
    font-weight: normal;
}

.header__head::before {
    content: '';
    width: 4px;
    height: 32px;
    background-image: url(../img__320px/highlight.svg);
    position: absolute;
    left: -25px;
    top: -5px;
}



.minor-icons {
    display: flex;
    justify-content: space-between;
}

.minor-icons__profile {
    flex-basis: 60%
}



.button {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.button:hover {
    opacity: 0.5;
    cursor: pointer;
}